DEPLOYER_PRIVATE_KEY=
AAVE_POOL_ADDRESS=

# RPC endpoints for deployment
ARBITRUM_RPC_URL=
BASE_RPC_URL=
BNB_RPC_URL=
POLYGON_RPC_URL=
LINEA_RPC_URL=
SCROLL_RPC_URL=
ZKSYNC_RPC_URL=
MODE_RPC_URL=
FANTOM_RPC_URL=
CELO_RPC_URL=
MANTLE_RPC_URL=
BLAST_RPC_URL=

# Set AAVE_POOL_ADDRESS per deployment run for the chain you're deploying to.
